= link_to 'Parse issues', new_issue_path

.h1
  Listing issues

= form_for :filter, url: issues_path, method: :get do |f|
  .field
    = f.text_field :predicate
  .actions
    = f.submit 'Search'

= render partial: 'issue', collection:  @issues
