= link_to 'Parse issues', new_issue_path, class: 'btn btn-success'

.h1
  Listing issues

= form_for :filter, url: issues_path, method: :get, class: 'form-inline' do |f|
  .input-group
    = f.text_field :predicate, class: 'form-control', value: @predicate
    %span.input-group-btn
      = f.button 'Search', class: 'btn btn-info'

%br

.row
  .col-xs-4.col-sm-4.col-md-4.text-center
    %strong Title
  .col-xs-6.col-sm-6.col-md-6.text-center
    %strong Body
  .col-xs-2.col-sm-2.col-md-2
%br
= render partial: 'issue', collection:  @issues.all
